body{
	/* background-color: #ffffff; */
}

hr{
	margin-top: 0px;
	margin-bottom: 0px;
    border: 1px solid #F5F5F5;;
}

.heading-title{
   content: "";
   width: 97%; 
   text-align: left; 
   border-bottom: 1px solid #e8e8e8;
   line-height: 0.1em;
   margin-bottom: 30px;
} 

.heading-title span {
    color: red; 
    background:#fff; 
    padding-right:10px; 
}

.vid-title{
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 3px;
  font-weight: bold;
}

.splash {
    margin-top: 50px;
    padding: 6em 0 8em;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.splash h2{
  color: white;
  margin: 0 0 30px 0;
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}

.splash h2 span{
  color: red;
}

.footer{
  padding: 3em 0 3em;
  background-color:#2E2E2E;
}

.copyright{
  font-size: 13px;
}

/* BOOTSTRAP CUSTOMIZATION: STARTS; */

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 0px;
    padding-left: 0px; 
}

.clear-padding-lr {
    padding-left: 0px;
    padding-right: 0px;
}

.clear-padding-l{
  padding-left: 0px;
}

/* BOOTSTRAP CUSTOMIZATION: ENDS; */

.clear-margin-b{
    margin-bottom: 0 !important;
}

.clear-padding-lr{
    padding-left: 0 !important;
    padding-right:0 !important;
}

.inline-display{
	display: inline !important;
}