body{
	/* background-color: #ffffff; */
  height: 100%;
  /* font-family: "roboto","helvetica neue",helvetica,arial,sans-serif !important; */
}

hr{
	margin-top: 0px;
	margin-bottom: 0px;
    border: 1px solid #F5F5F5;;
}

.heading-title{
   content: "";
   width: 97%; 
   text-align: left; 
   border-bottom: 1px solid #e8e8e8;
   line-height: 0.1em;
   margin-bottom: 30px;
} 

.heading-title span {
    color: red; 
    background:#fff; 
    padding-right:10px; 
}

.vid-title{
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 3px;
  font-weight: bold;
}

.splash {
    margin-top: 50px;
    padding: 6em 0 8em;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.splash h2{
  color: white;
  margin: 0 0 30px 0;
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}

.splash h2 span{
  color: red;
}

.footer{
  padding: 3em 0 3em;
  background-color:#2E2E2E;
}

.copyright{
  font-size: 13px;
  padding-right: 25px;
}

.copyright a:hover{
  text-decoration: none;
}

.content{
    min-height: 70%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}

.latest-videos .social-networks{
  margin-bottom: 50px;
}

.slider{
  margin-bottom: -30px;
}

.footer-text{
  text-align: center;
  color: green;
}

.about-sidebar{
  background-color: #fcfcfc;
  /* border-right: 1px solid #f5f5f5; */
}

.about-content{
  border-radius: 5px;
  padding: 0 1em 2em 1em;
  font-size: 16px;
}

.about-content .title{
  font-size: 30px;
}

.about .social-media{
  text-align: center;
  background-color: #fcfcfc;
  padding: 3em 1em 2em 1em;
}

.about .social-media a{
  margin-right: 5px;
}

.menu-heading{
  background-color: #777777;
  padding:10px 0 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.menu-heading .title{
  padding-left: 1em;
}

#videos .thumbnail:after {
    font-family: "Glyphicons Halflings";
    -webkit-font-smoothing: antialiased;
    content: "\e029";
    line-height: 64px;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    font-size: 64px;
    margin: -125px 0 0 140px;
}

#videos .thumbnail{
  padding: 10px;
}

#videos .caption{
  margin-bottom: 40px;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #videos a:after {
    font-size: 64px;
    margin: -130px 0 0 90px;
  } 
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  #videos a:after {
    font-size: 30px;
    margin: -170px 0 0 50px;
  } 
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { 
  #videos a:after {
    font-size: 30px;
    margin: -195px 0 0 40px;
  } 
}


/* BOOTSTRAP CUSTOMIZATION: STARTS; */

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 0px;
    padding-left: 0px; 
}

.clear-padding-lr {
    padding-left: 0px;
    padding-right: 0px;
}

.clear-padding-l{
  padding-left: 0px;
}

/* BOOTSTRAP CUSTOMIZATION: ENDS; */

.clear-margin-b{
    margin-bottom: 0 !important;
}

.clear-padding-lr{
    padding-left: 0 !important;
    padding-right:0 !important;
}

.inline-display{
	display: inline !important;
}